/* src/components/PrivacyPolicy.css */
.privacy-policy-container {
  padding: 20px; /* 適宜パディングを追加 */
  max-height: 80vh; /* 最大高さを画面の80%に設定 */
  overflow-y: auto; /* 垂直方向のスクロールバーを有効にする */
  margin: 0 auto; /* コンテンツを中央揃え */
  text-align: left; /* 文字を中央寄せ */
}

.privacy-policy-container h2 {
  margin-bottom: 20px; /* 見出しとテキストの間に余白を追加 */
  text-align: center; /* 文字を中央寄せ */
}

.privacy-policy-container p {
  margin-bottom: 10px; /* パラグラフ間に余白を追加 */
}

.privacy-policy-container strong {
  margin-top: 20px; /* 強調テキストの上部に余白を追加 */
}
