/* index.css */
html{
  height: 100%;
  margin: 0;
}


body {
  height: 100%;
  margin: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  color: white;
  background-color: #111111;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

header{
  background-color: #272727;
  color: #d396ed;
  padding: 1em;
  text-align: center;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.header-icon {
  height: 50px; /* アイコンの高さを設定 */
}

.home-link{
  color: #d396ed;
  text-decoration: none; /* 下線を消す */
  font-size: 2em; /* リンクのテキストサイズを変更 */
  padding-left: 1em;
}

footer {
  position: absolute;
  bottom: 0;
  background-color: #272727;
  color: white;
  text-align: center;
  width: 100%;
  box-sizing: border-box; /* パディングを含めて幅を計算 */
  display: flex;
  flex-direction: row;
  justify-content : center;
  gap: 1.5em;
  padding: 1em;
  font-size: 0.8em; /* リンクのテキストサイズを変更 */
}

footer p {
  margin: 0; /* 各p要素のマージンをリセット */
}

.link{
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  text-align: center;
  line-height: 15px;
}

.app-store-badge {
  width: 200px; /* 画像の幅を調整 */
  margin-top: 20px;
  cursor: pointer;
  padding: 5em;
}

.app-store-badge:hover {
  opacity: 0.8; /* ホバー時のエフェクト */
}

@media (min-width: 600px) {
  main {
    padding: 2em;
  }
}
